<div class="nx-modal_container">
  <div class="nx-modal" [ngClass]="{'nx-success' : feedbackServiceStatus}">
    <div class="nx-modal_header">
      <div class="nx-modal_header__close" (click)="onClose()"
           data-test-id="nx-modal-close-button"
      >
        <svg viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg">
          <line x1="1" y1="24" x2="24" y2="1" stroke="#3b5560" stroke-width="3"/>
          <line x1="1" y1="1" x2="24" y2="24" stroke="#3b5560" stroke-width="3"/>
        </svg>
      </div>
    </div>
    <div class="nx-modal_body">
      <ng-container *ngIf="!feedbackServiceStatus">
        <h3>{{config?.modalHeaderText}}</h3>
        <app-textarea
          class="full-width"
          (feedbackComment)="setFeedbackComment($event)"
        ></app-textarea>
      </ng-container>
      <ng-container *ngIf="feedbackServiceStatus">
        <h1>WE HAVE GOT YOUR FEEDBACK</h1>
      </ng-container>
    </div>
    <div class="nx-modal_footer" *ngIf="!feedbackServiceStatus">
      <app-button
        [buttonText]="config?.sendFeedbackButtonText"
        [dataTestId]="'nx-send-feedback'"
        (onButtonClick)="sendFeedbackComment()"
      ></app-button>
    </div>
  </div>
</div>

